html, body {

    margin: 0;
    padding: 0;
}

.container{

 margin: 0 auto;

}
img{
    max-width: 1400px;
    width: 300px;
}

.header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
}

/* jogadores*/
.jogadores {
display: flex; 
background-color: rgb(230, 233, 236);
    padding: 50px 0;
}

.grade-joga {
 
display: grid;
grid-template-columns: repeat(2, 1fr) ;
justify-content: center;
gap: 50px;
}

.joga-item {

    display: flex;
    flex-direction: column;
    gap: 0;

}

.joga-item img{
    border-radius: 20px;
    width: 100%;
    max-width: 200px;
   

}

.joga-item img:hover {

    transform: scale(1.10);
}

.nome{
    
    margin-top: 5px;
    margin-left: 0;
    font-size: 20px;

}
.posicao{

    margin-top: 2px;
    
}
.descricao{

    margin-top: 2px;
    color: rgb(41, 9, 9);

}

.link {

    margin: 20px;
    margin-left: 0;
    all: unset;
    color: white;
    background-color: rgb(236, 54, 54);
    padding: 10px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    max-width: 150px;



}
.link:hover{
    transform: scale(1.10);

}

footer, img{
   text-align: center;
}